*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: auto;
  display: inline-block;
 margin: 100px;

}

.container input{
  margin-top: 50px;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.container textarea {
  margin-top: 20px;
}

.container select{
  margin-top: 20px;
}
.container p{
  margin-top: 20px;
  
}

.container p{
  margin-left: 30px;
}